@import url('../css/slider.css');

html, body { color: #FFF;
      height: 100%;
      font-family: 'Montserrat', sans-serif;}

#nav{
  height: 90px;
  width: 100%;
  display: inline-block;
}

#logo{
  height: auto;
  margin-left: 110px;
  margin-top: -6px;
  vertical-align: middle;
  width: 50px;
}

#nav-center, #nav-right{
  color: white;  
  font-family: Verdana;
  display: inline-block;
  text-shadow: 0.1em 0.1em 0.2em grey;
  vertical-align: middle;
  margin-top: 19px;
}

#nav-center{
  
  font-size: 35px;
  margin-left: 8px;

}

#nav-right{
  text-align: right;
  width: 70%;
  vertical-align: middle;
}

.textslider, .textslider2{
  font-family: Tahoma;
  background: transparent;
  color: white;
  height: auto;
  padding: 5px 0;
  position: relative;
  text-align:center;
  text-shadow: 0.1em 0.1em 0.5em grey;
  width: 100%;
}

.textslider{
  bottom: 330px;
  font-size: 52px;
  line-height:52px;
}

.textslider2{
  bottom: 380px;
  font-size: 32px;
  line-height:32px;

}

.blanco{
  background-color: #EFEFFB;
  border-color: black;
}

.celeste, .blanco{
  display: block;
  position: relative;
  width: 100%;
  height: 3px;
}

.celeste{
  background-color: #58ACFA;
  border-color: black;
}

.footer-gral {
  color: white;
  margin-top:   4px;
  padding: 4px;
  font-size: 12px;
  text-align: center;
}

.gallery {
  height: 380px;}

a:link{
  text-decoration: none;
  color:white;
}

a:visited {
  text-decoration:none;
  color:white;} 


#nav-btn {
  display: inline-block;
  list-style:none;
  vertical-align: middle;
}

body{
  background-color: black;
}

header div div{
  display: inline-block;
}

nav ul li{
  float:left;
  font-family:Arial;
  font-size:19px;
  margin-left: 40px;
}

hr{
  border-color: white;
  width: 100%;
  height: 4px;
}

h1 {
  color: white;
}